@import './nprogress.css';
@import './colors.css';
@import './fonts.css';
@import './header.css';
@import './footer.css';
@import './home.css';
@import './responsive.css';
@import './contactus.css';
@import './aboutus.css';
@import './terms.css';
@import './learn.css';
@import './faq.css';
@import './blog.css';
@import './singleBlog.css';
@import './profile.css';
@import './purchase-report.css';
@import './login.css';
@import './basket-shopping.css';
@import './verifyCode.css';
@import './ticket.css';
@import './wallet.css';
@import './userLevel.css';
@import './bsicons.css';
@import './shop.css';
@import './shopFilterModal.css';
@import './ticket-list.css';
@import './product.css';

html{
    font-size: 90%;
}
body {
    font-family: IRANsans , sans-serif;
}
body a{
    text-decoration: none;
    color: var(--primary-dark);
}
.mcontainer{
    padding-inline: clamp(16px, 4vw, 128px);
}
.line-height-64{
    line-height: 64px;
}
.w-300{
    width: min(150px, 100%);
}
body .form-select{
    background-position: left 0.75rem center;
}
button{
    border: none;
    border-radius: 6px;
}
.border-bottom-red{
    border-bottom: 1px solid #f008;
    padding-bottom: 8px;
    margin-bottom: 8px;
}
.bottom-navigation .searcher {
    transform: translateY(-30px);
}
div.bottom-navigation{
    z-index: 10001;

}
.bottom-navigation div{
    height: 60px;
    background-color: #f7f7f7;
}
.bottom-navigation{
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 9;
}
@media screen and (max-width: 768px) {
    body{
        padding-bottom: 60px;
    }
    body .Toastify, body .Toastify__toast-container {
        bottom: 60px;
    }
}
.table-info-payment  .MuiChip-icon{
    margin-right: 12px;
    width: 1.2rem;
    height: 1.2rem;
}
body .swiper-button-next,body  .swiper-button-prev{
    border-radius: 50%;
    width: 42px;
    height: 42px;
    display: grid;
    place-items: center;
    background: white;
    box-shadow: 0 0 14px #0002;
}
body  .swiper-button-next::after,body  .swiper-button-prev::after{
    font-size: 25px;
}
.drops .MuiSelect-select{
    text-align: left;
}
@media (max-width: 576px) {
    .breadcrumbs{
        font-size: 11px;
    }
    
}