.header {
  position: relative;
  width: 100%;
  height: auto;
  z-index: 100;
  margin: 10px auto;
  background: var(--color-white);
  -webkit-box-shadow: var(--shadow-medium);
  box-shadow: var(--shadow-medium);
}
.header .navbar {
  padding-bottom: 0;
}
.header .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 2rem;
  max-width: 100%;
  height: 4rem;
  margin: 0 auto;
}

.header .menu > .menu-item {
  position: relative;
  display: inline-block;
  margin: 0 0.75rem;
}

.header .menu > .menu-item > a {
  display: block;
  font-family: IRANSans;
  font-size: 1rem;
  font-weight: 500;
  line-height: inherit;
  padding: 1rem 0;
  border: none;
  outline: none;
  text-transform: capitalize;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

.header .menu > .menu-item > a .expand {
  position: relative;
  display: inline-block;
  width: 0.75rem;
  height: 0.75rem;
  margin-left: 0.35rem;
  pointer-events: none;
  border: none;
  outline: none;
}

.header .menu > .menu-item > a .expand:before,
.header .menu > .menu-item > a .expand:after {
  position: absolute;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  content: "";
  top: 50%;
  left: 50%;
  width: 100%;
  height: 2px;
  background: var(--color-black);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

.header .menu > .menu-item:hover > a {
  color: var(--color-pink-700);
}

.header .menu > .menu-item:hover > a .expand::before,
.header .menu > .menu-item:hover > a .expand::after {
  background: var(--color-pink-700);
}

.header .menu > .menu-item > a .expand::after {
  -webkit-transform: translate(-50%, -50%) rotate(-90deg);
  transform: translate(-50%, -50%) rotate(-90deg);
}

.header .menu > .menu-item > .sub-menu > .menu-item > a:hover {
  color: var(--color-pink-700);
}

.header .menu > .menu-item > .sub-menu {
  position: absolute;
  top: 100%;
  left: -1rem;
  width: 13rem;
  height: auto;
  padding: 0.75rem 0;
  border: none;
  outline: none;
  opacity: 0;
  visibility: hidden;
  border-top: 3px solid var(--color-pink-600);
  background: var(--color-white);
  -webkit-box-shadow: var(--shadow-medium);
  box-shadow: var(--shadow-medium);
  -webkit-transform: translateY(1rem);
  transform: translateY(1rem);
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

.header .menu > .menu-item > .sub-menu > .menu-item {
  display: block;
}

.header .menu > .menu-item > .sub-menu > .menu-item > a {
  display: block;
  font-family: IRANSans;
  font-size: 1rem;
  font-weight: 500;
  line-height: inherit;
  padding: 0.5rem 1.25rem;
  color: var(--color-black);
  text-transform: capitalize;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

header .burger {
  position: relative;
  cursor: pointer;
  display: none;
  width: 1.75rem;
  /* height: 1rem; */
  margin-top: -0.25rem;
  outline: none;
  opacity: 0;
  visibility: hidden;
  background: none;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

header .burger-line {
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  left: 0;
  border: none;
  outline: none;
  opacity: 1;
  border-radius: 0.25rem;
  background: var(--color-black);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

header .burger-line:nth-child(1) {
  top: 0;
}

header .burger-line:nth-child(2),
header .burger-line:nth-child(3) {
  top: 0.5rem;
}

header .burger-line:nth-child(4) {
  top: 1rem;
}

.header .overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  background: rgba(0, 0, 0, 0.65);
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

.header .wrapper .right-menu {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 1200px;
  height: 65px;
}
.header .wrapper .search-bar form {
  display: flex;
}
.header .wrapper .search-bar form input {
  border: 1px solid var(--color-blue);
  border-radius: 25px;
  margin: 0 10px;
  width: 200px;
}
.search-bar form button {
  border: none;
  background-color: transparent;
}
.left-mennu {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}
.left-mennu > div {
  margin: 0 5px;
}
.header .wrapper .left-mennu i {
  font-size: 25px;
}

.header .wrapper .right-menu a:first-child img {
  max-width: 200px !important;
  width: 100% !important;
  object-fit: cover;
  height: 65px;
}
.profile-menu {
  text-align: center;
}
.profile-menu img {
  width: 120px;
  height: 120px;
  object-fit: cover;
}
.profile-menu h6 {
  font-size: 19px;
  font-weight: 600;
  margin: 10px 0;
}
.item-profile-menu {
  display: flex;
  justify-content: center;
  border-top: 1px solid #c3c3c3;
}
.item-profile-menu > div {
  margin: 10px 0;
}
.item-profile-menu a {
  margin: 10px;
  color: var(--color-blue);
  font-size: 24px;
}

@media only screen and (min-width: 993px) {
  .header .menu > .menu-item-child:hover > .sub-menu {
    display: block;
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  .header .menu > .menu-item-child:hover > a .expand::after {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
    transform: translate(-50%, -50%) rotate(0deg);
  }
  .header .left-mennu-res {
    display: none;
  }
}

@media only screen and (max-width: 992px) {
  .header-public .links,
  .header-public .controls {
    display: none !important;
  }
  .header .overlay.active {
    display: block;
    opacity: 1;
    visibility: visible;
  }

  .header .navbar {
    position: fixed;
    top: 0;
    right: -100%;
    width: 35%;
    height: 100%;
    z-index: 999;
    opacity: 0;
    overflow-y: auto;
    visibility: hidden;
    background: var(--color-white);
    -webkit-box-shadow: var(--shadow-medium);
    box-shadow: var(--shadow-medium);
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    display: unset;
  }

  .header .navbar.active {
    right: 0rem;
    opacity: 1;
    visibility: visible;
  }

  .header .menu {
    width: 100%;
    height: auto;
    margin: 1rem 0;
  }

  .header .menu > .menu-item {
    display: block;
    margin: 0;
  }

  .header .menu > .menu-item-child > a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .header .menu > .menu-item > a {
    padding: 0.625rem 1.25rem;
    color: var(--color-black);
  }

  .header .menu > .menu-item > a .expand::before,
  .header .menu > .menu-item > a .expand::after {
    background: var(--color-black);
  }

  .header .menu > .menu-item-child.active > a .expand:after {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
    transform: translate(-50%, -50%) rotate(0deg);
  }
  .menu-item:last-child {
    border-top: 1px solid #c7c7c7;
    margin-top: 1rem;
  }

  .header .menu > .menu-item > .sub-menu {
    position: relative;
    top: auto;
    left: auto;
    width: 100%;
    max-height: 0;
    padding: 0px;
    border: none;
    outline: none;
    opacity: 1;
    overflow: hidden;
    visibility: visible;
    background: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }

  .header .menu > .menu-item > .sub-menu > .menu-item > a {
    padding: 0.625rem 2rem;
    color: var(--color-black);
  }

  header .burger {
    display: block;
    opacity: 1;
    visibility: visible;
    border: none;
    height: 16px;
  }
  .header .wrapper .right-menu {
    justify-content: space-between;
  }
  .header .left-mennu {
    display: none !important;
  }
  .accordion .title h5 {
    font-size: 15px;
  }
  .menu .menu-item {
    padding: 1rem;
  }
  .menu .menu-item i {
    color: var(--color-blue);
    margin-left: 0.5rem;
  }
  .menu .menu-item a {
    font-weight: 600;
    font-size: 1.2rem;
  }
  .social-menu-item .social-icons a {
    background-color: transparent;
    font-size: 25px;
  }
  .social-menu-item .social-icons .facebook i {
    color: #3b5998;
  }
  .social-menu-item .social-icons .twitter i {
    color: #55acee;
  }
  .social-menu-item .social-icons .telegram i {
    color: #00aced;
  }
  .social-menu-item .social-icons .linkedin i {
    color: #007bb5;
  }
  .social-menu-item .social-icons .instagram i {
    color: #e95950;
  }
  .social-menu-item .social-icons .whatsapp i {
    color: #4dc247;
  }
}

.header-public {
  height: 80px;
  /* padding-block: 12px; */
  /* border-bottom: 1px solid #707070; */
}
.header-public .main-container {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: space-between;
  padding-inline: clamp(16px, 4vw, 128px);
  position: relative;
  z-index: 999;
}
.header-public .links {
  width: 25vw;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 16px;
  margin-left: auto;
}
.header-public .links a {
  font-size: clamp(15px, 1.3vw, 13px);
  position: relative;
  font-weight: 400;
  display: block;
  padding: 10px 2px;
}
.header-public .links a.active {
  color: var(--primary);
}
.header-public .links a.active::after {
  position: absolute;
  content: " ";
  width: 8px;
  height: 8px;
  background-color: var(--primary);
  right: calc(50% - 4px);
  top: 140%;
  border-radius: 50%;
}
.header-public .controls {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.header-public .controls > * {
  margin-right: 24px;
}
.header-public .controls input {
  border-radius: 60px;
  border: 1px solid var(--primary);
  height: 32px;
}
.header-public .list-show-menu:not(.collapsed) {
  opacity: 0;
  pointer-events: none;
  display: block;
  z-index: 99999;
  transition: all 0.3s;
  background-color: white;
}
.header-public .list-show-menu.collapsed {
  opacity: 1;
  pointer-events: all;
  transition: all 0.3s;
  background-color: white;
}
.header-public .list-show-menu:not(.collapsed) > ul {
  transform: translateY(60px);
  transition: 0.3s;
}

.header-public .list-show-menu.collapsed > ul {
  transform: translateY(0px);
  transition: 0.3s;
}

.mega-menu {
  padding: 10px 0px !important;
  width: 540px;
  border-radius: 0;
  margin-top: 0px;
  align-items: center;
  justify-content: flex-start;
}

.mega-menu li.mega-menu-column {
  width: 18%;
}
.mega-menu li:hover a {
  transform: translateX(-6px);
}
.mega-menu li svg {
  width: 16px;
}
.mega-menu li:hover svg {
  color: #e95950;
}
.mega-menu li * {
  transition: 0.2s;
}
.mega-menu li {
  list-style: none;
  font-size: 0.94rem;
  padding: 3px 0px;
  width: max(calc(100% / 5), 100px);
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.dropdown .dropdown-menu .nav-header {
  padding-right: 20px;
  padding-left: 20px;
}
.mega-menu .nav-header {
  padding: 0 !important;
  margin-bottom: 10px;
  display: inline-block;
  width: 100%;
  border-bottom: 1px solid #ddd;
}

.megamenu-shop .dropdown-menu {
  min-width: 100%;
  position: absolute;
  top: 60px;
  right: 0;
  left: 0;
  display: flex;
  transition: all 0.3s ease-in-out;
  z-index: 10000000;
  min-height: 300px;
  background-color: white;
}
.giftcard-icon {
  cursor: pointer;
}
.giftcard-icon .MuiSvgIcon-root {
  transition: all .3s ease-in-out;
}
.giftcard-icon:hover .MuiSvgIcon-root {
  transition: all .3s ease-in-out;
  transform: rotate(180deg);
}
.badge-container{
  position: relative;
}
.basket-badge {
	position: absolute;
	top: -6px;
	right: -6px;
	font-size: 11px;
	width: 16px;
	height: 16px;
	text-align: center;
}
#__next{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
footer{
  margin-top: auto;
}