.profile-aside .sidebar-item a{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.profile-aside .sidebar-item.active {
  background-color: rgba(147, 202, 245, 0.4);
}
.profile-aside .mobile-menu-title {
  border-radius: 15px 15px 0 0;
}
.profile-aside .sidebar-item.active i {
  color: #fff;
  opacity: 1;
}
.profile-aside  {
  border: 1px solid var(--color-blue);
  box-shadow: 0px 0 10px 2px #eee;
  border-radius: 15px;
  overflow: hidden;
}
.profile-aside .MuiListItemText-root {
  text-align: right;
}
.sidebar-item {
  flex-direction: row-reverse;
}
.sidebar-item .MuiListItemIcon-root {
  justify-content: flex-start;
  min-width: unset;
  width: 36px;
  
}
.userLevel {
  box-shadow: 0px 4px 10px 5px #eee;
  padding: 1.5rem;
  border-radius: 10px;
}

.userLevel .user-info > div p {
  margin: 25px 0;
}
.userLevel .user-info > div p:first-child {
  margin: 0px 0;
}
.profile-menu img{
  border-radius: 50%;
}
.profile-menu > span{
  transform: scale(1.2);
  margin-bottom: 32px;
}
.userLevel .upload-section {
  border: 1px dashed #8c92ac;
  padding:0.5rem 1rem 1rem;
  border-radius: 10px;
}
.userLevel .upload-section .css-1yo1jo6-MuiStack-root {
  flex-direction: column-reverse;
}
.userLevel .upload-section .css-sghohy-MuiButtonBase-root-MuiButton-root {
  font-size: 10px;
  background: var(--success-gradient);
}
.userLevel .upload-section .css-1kuq5xv-MuiButtonBase-root-MuiIconButton-root {
  color: var(--color-black);
}
@media (max-width: 992px) {
  .mobile-menu-title {
    display: flex;
  }
  .profile-aside {
    max-height:45px;
    overflow: hidden;
    transition: all 0.3s ease-in;
    height: max-content;
    margin: auto;
  }
  .userLevel > div:nth-child(1) {
    border-bottom: 1px solid rgb(160, 160, 160);
  }
  .userLevel > div:nth-child(2) {
    padding: 15px 0;
  }

  .profile-aside.collapsed {
    max-height: 500px;
    transition: all 0.3s ease-in;
  }
}
@media (min-width: 993px) {
  .profile-aside div.mobile-menu-title {
    display: none;
  }
  .userLevel > div:nth-child(1) {
    border-left: 1px solid rgb(160, 160, 160);
  }
}

#credits .cards [data-testid="AddIcon"]{
  width: 100%;
  height: 100%;
  opacity: 0.2;
  cursor: pointer;
}
#credits .cards button{
  width: 48px;
  min-width: 48px;
}
#credits .cards input{
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  -o-appearance: textfield;
  appearance: textfield;
}
#credits .cards .MuiButton-endIcon{
  margin: 0;
}
#credits .card-item{
  height: 160px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}

#credits .card-item > *{
  width: 100%;
}

.edit-profile-modal .MuiFormControl-root {
  width: 100%;
}
.edit-profile-modal .MuiInputBase-inputAdornedEnd {
  padding-block: 4px;
}