.shop-main {
  padding: 16px;
}
.shop-main .filter .title {
  font-size: clamp(14px, 3vw, 18px);
  border-bottom: 1px solid #f005;
  padding-bottom: 8px;
  margin-bottom: 12px;
  display: block;
}
.shop-main .filter {
  margin: 0px 0 16px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding:  16px;
  border: 1px solid #eee;
  border-radius: 8px;
}
.shop-main .filter .drops .MuiSelect-select {
  padding-right: 8px;
}

.filter-category .category-item.active {
  border: 1px solid rgba(220, 20, 60, 0.2);
  background: rgba(220, 20, 60, 0.05);
  color: black;
  color: crimson;
  border-radius: 6px;
}
.filter-category .category-item {
  width: 50%;
  text-align: start;
  padding: 8px;
  background: none;
  color: #888;
}

.filter-category .category-item span {
  text-align: right;
}
.filter-country button.selected {
  border-width: 1px ;
  border-color: navy ;
  background-color: #0003;
}
.filter-country{
  flex-wrap: wrap;
}
.filter-country button {
  flex-basis: 30%;
  border-style: solid;
  border-color: #aaa;
  padding-block: 6px;
  border-width: 0px;
  margin: 1%;
  border-radius: 12px;
  text-align: center;
  flex-grow: 1;
  min-width: 80px;
}
.MuiSlider-root {
  margin-bottom: 25px;
}
.MuiSlider-markActive {
  top: 83%;
  height: 8px;
  width: 1px;
  background-color: #39acf1;
}
.MuiSlider-colorPrimary {
  color: #333;
}
.MuiSlider-thumbColorPrimary {
  background: #ddd;
  border: 1px solid #ccc;
}

.MuiFormControl-root legend {
  display: none;
}
.MuiSelect-select {
  padding: 10px;
}
.MuiSlider-markLabel {
  top: 42px;
}
.single-card .data-container .special-offer{
    position: absolute;
    left: -42px;
    top: 26px;
    z-index: 1;
    transform: rotate(-45deg);
    background: crimson;
    color: white;
    text-align: center;
    width: 150px;
    font-size: 12px;
}
.single-card h5{
  height: 50px;
}
.single-card .special-offer-price{
  height: 30px;
  text-align: left;
  width: 100%;
}
.single-card .data-container {
  font-weight: 800;
  font-size: 1.1rem;
  overflow: hidden;
  aspect-ratio: 3/2;
  max-height: 200px;
  margin-inline: auto;
}
.shop-main .product-list-gift{
  border-radius: 8px;
  padding-bottom: 0;
  box-shadow: none;
}
.shop-main .card-container:last-of-type {
  border-left-width: 1px;
}
.shop-main .card-container  {
  border-width: 1px 1px 1px 0;
  border-style:  solid ;
  border-color: #eee;
}
.shop-main .card-container:hover .single-card{
  box-shadow: 0 0 14px #0002;
  z-index: 2;
}

.shop-main .single-card{
  border-radius: 8px;
  border: none;
  margin: 0;
  padding: 16px;
  transition: 0.2s;
  
}
.single-card {
  width: 100%;
  margin: 15px 0 25px;
  position: relative;
  transform: translate(0);
  background: white;
  padding: 8px;
  border: 1px solid #eee;
  border-radius: 8px;
}
.single-card ._rate{
  transform: scale(0.8);
  left: 19%;
  bottom: 22%;
  opacity: 0.5;
}
.single-card .counter {
  background-color: #f1f2f6;
  padding: 7px 15px;
  border-radius: 8px;
}

.single-card .price {
  position: absolute;
  font-size: clamp(18px, 3vw, 24px);
  right: 18%;
  top: 20%;
  box-shadow: 0 0 15px 7px #00000011;
  padding: 5px;
  border-radius: 12px;
  background: #fff3;
  min-width: 58px;
  text-shadow: 0 0 7px #0005;
}
.with-button .swiper {
  padding-bottom: 32px;
}


.with-button .add-to-card-container {
  margin-top: 0;
}


#shop-filter{
  height: 100%;
}
@media (max-width: 992px) {
  #shop-filter{
    margin-bottom: 32px;
  }
  .toggle-input:not(:checked) + #shop-filter{
   height: 0;
   overflow: hidden;
  }
  
}
.toggle-input{
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100px;
  height: 32px;

}

.add-to-card-container {
  user-select: none;
  margin-top: 16px;
  width: 95%;
  margin-inline: auto;
}
.add-to-card-container .counter span {
  font-size: 1.1rem;
}
.product-list-gift .counter {
  background-color: #f1f2f6;
  border-radius: 8px;padding: 0;
  overflow: hidden;
}
.product-list-gift .counter > *{
  padding: 6px 9px ;
  display: inline-block;
  border-left: 1px solid #e2e2e2;
  transition: 0.2s;
}
.product-list-gift .counter > span:first-of-type{
  border-left: none;
}
.product-list-gift .counter :not(:nth-child(2)):hover{
  background: #ddd;
}


.add-to-card-container button:not(.exclude){
  border: none;
  border-radius: 8px;
  padding-block: 6px;
  color: white;
  font-weight: 900;
}
.product-list-gift {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border-radius: 8px;
  padding: 0 0 0.5rem;
  box-shadow: 0 0 14px #0002;
} 

.cursor-pointer {
  cursor: pointer;
}

.css-1c99szj-MuiRating-icon {
  color: var(--color-yellow);
}
.MuiPagination-ul {
  justify-content: center;
  margin-top: 32px;
  direction: ltr;
}

.flag-cont {
  width: 30px;
  height: 20px;
  text-align: center;
  margin: 0px auto 4px;
}

.flag-cont img {
  object-fit: cover !important;
}
.special-offer-price{
  font-size: 15px;
}
.blury,.blury * {
  cursor: not-allowed !important;
}

@media (min-width: 1400px) {
  .shop-main .card-container:nth-of-type(4){
    border-top-left-radius: 8px;
  }
  .shop-main .card-container:nth-of-type(1){
    border-top-right-radius: 8px;
  }
  .shop-main .card-container:nth-of-type(4n){
    border-left-width: 1px  ;
  }
  .shop-main .card-container:nth-of-type(n + 5){
    border-top: none;
  }
}
@media (max-width: 1400px) and (min-width: 992px) {
  .shop-main .card-container:nth-of-type(3){
    border-top-left-radius: 8px;
  }
  .shop-main .card-container:nth-of-type(1){
    border-top-right-radius: 8px;
  }
  .shop-main .card-container:nth-of-type(3n){
    border-left-width:1px ;
  }
  .shop-main .card-container:nth-of-type(n + 4){
    border-top: none;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .shop-main .card-container:nth-of-type(2){
    border-top-left-radius: 8px;
  }
  .shop-main .card-container:nth-of-type(1){
    border-top-right-radius: 8px;
  }
  .shop-main .card-container:nth-of-type(2n){
    border-left-width:1px ;
  }
  .shop-main .card-container:nth-of-type(n + 3){
    border-top: none;
  }
}
@media  (max-width: 768px) {
  .shop-main .card-container:nth-of-type(1){
    border-top-left-radius: 8px;
  }
  .shop-main .card-container:nth-of-type(1){
    border-top-right-radius: 8px;
  }
  .shop-main .card-container:nth-of-type(1n){
    border-left-width:1px ;
  }
  .shop-main .card-container:nth-of-type(n + 2){
    border-top: none;
  }
}