.bg-Sblog {
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.94;
  }
  
  .caption-header-blog {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: var(--color-white);
    padding: 25px;
  }
  
  .caption-header-blog h3 {
    position: relative;
    width: 100%;
  }
  
  .caption-header-blog h3::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: -10px;
    width: 100%;
    border-bottom: 3px solid var(--color-orange);
    border-radius: 5px;
  }
  
  .caption-header-blog p {
    width: 60%;
    padding: 15px 0;
  }
  .text-single-blog {
    box-shadow: 0px 0px 5px 2px #eee;
    padding: 0.5rem;
    border-radius: 10px;
    margin: 0 0 25px;
  }
  .text-single-blog .caption-header-blog {
    position: relative;
    color: var(--color-purple);
  }
  .more-text-single-blog {
    padding: 0 45px;
  }
  
  .more-text-single-blog p {
    font-size: 14px;
    line-height: 2;
    margin: 8px 0;
    text-align: justify;
    font-weight: 500;
  }
  
  .send-feedback-container,
  .reviews-container {
    margin: 0 auto;
  }
  .content-comment {
    border: 1px solid rgba(70, 130, 180, 0.5);
    padding: 16px;
    margin-top: 16px;
  }
  .textArea-reviews {
    width: 100%;
  }
  
  .sumbit-reviews {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .sumbit-reviews .col-6 {
    padding: 10px;
  }
  .sumbit-reviews .col-6:nth-of-type(1),
  .sumbit-reviews .col-6:nth-of-type(3) {
    padding: 0;
  }
  .sumbit-reviews button {
    width: 100%;
    background-color: var(--color-orange);
    border-radius: 10px;
    border: none;
    padding: 9px;
    color: var(--color-white);
    font-size: 13px;
  }
  .review-line img {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      object-fit: cover;
      margin-left: .5rem;
  }
  
  .CommnetText p {
      font-size: 14px;
      font-weight: normal;
      line-height: 2.4;
  }
  
  .replyComment {
      background-color: var(--color-orange);
      color: var(--color-white);
      padding: 5px;
      border: none;
      border-radius: 5px;
      margin-right: 1rem;
  }