@import './colors.css';

html{
    font-size: 90%;
}
.line-height-64{
    line-height: 64px;
}
.w-300{
    width: min(150px, 100%);
}
button{
    border: none;
    border-radius: 6px;
}
.border-bottom-red{
    border-bottom: 1px solid #f008;
    padding-bottom: 8px;
    margin-bottom: 8px;
}